@import "tailwindcss";
@import "@fontsource-variable/inter";

@theme{
	--color-darkblue: rgba(31, 54, 82, 1);
	--color-lumy-purple: rgba(150, 45, 255, 1);
	--color-light-gray: rgba(241, 245, 249, 1);
	--font-inter: 'InterVariable', 'Inter', system-ui, sans-serif;
}